# Ignore composer stuff
/vendor/

# Ignore concrete5 stuff
/public/concrete
/public/application/files

# Ignore composer packages
/public/packages/concrete_cms_theme
/public/packages/community_badges
/public/packages/akismet
# Ignore build files
/public/application/css/main.css
/public/application/js/hosting.js.LICENSE.txt

# Ignore developer stuff
/.idea
/node_modules
/.env
/phpunit.xml
/build
/.phpunit.*
.DS_Store
