image: registry.gitlab.com/portlandlabs/containers/php/8.2:latest

stages:
  - test
  - build
  - deploy
  - qa

cache:
  paths:
    - vendor/

# Gitlab provided testing
include:
  - template: SAST.gitlab-ci.yml
  - template: Dependency-Scanning.gitlab-ci.yml
#  - template: License-Scanning.gitlab-ci.yml

.ssh_key_setup: &ssh_key_setup
    # Adding support for ssh keys in order to download packages from bitbucket.
    - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan bitbucket.org >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config --global user.email "systems@portlandlabs.com"
    - git config --global user.name "Gitlab CI"

# Test with PHPUnit
test:unit:
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == 'external_pull_request_event' || $CI_PIPELINE_SOURCE == 'push'
  cache:
    paths:
      - vendor/
  coverage: '/^\s*Cov:\s*\d+\.\d+?%$/'
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.cobertura.xml
  before_script:
    - *ssh_key_setup
    - composer install --dev --no-interaction --optimize-autoloader
  script:
    - XDEBUG_MODE=coverage composer test:unit -- --colors=never --coverage --coverage-cobertura=coverage.cobertura.xml --log-junit=junit.xml

test:lint:
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' || $CI_PIPELINE_SOURCE == 'push'
  cache:
    paths:
      - vendor/
  artifacts:
    reports:
      codequality: gitlab.json
  before_script:
    - *ssh_key_setup
    - composer install --no-interaction --optimize-autoloader
  script:
    - composer test:lint -- --format=gitlab > gitlab.json; composer test:lint # One for generating gitlab.json, another for plain text output

build:tar:
  stage: build
  artifacts:
    paths:
      - release.tar.gz
  rules:
    - if: $CI_COMMIT_BRANCH =~ /(develop|master)/
  before_script:
    - *ssh_key_setup
    # Install production dependencies
    - composer install --no-dev --no-interaction --optimize-autoloader
  script:
    # Delete anything we don't want to include in the tar
    - rm -rf tests resources .git
    - tar -zcvf /builds/release.tar.gz .
    # Move the built tar to the correct location. This also verifies the file was created.
    - mv /builds/release.tar.gz $CI_PROJECT_DIR/release.tar.gz

.job_template: &deploy
  stage: deploy
  before_script:
    - apt-get update && apt-get install gettext-base
    # Write GitLab Variables into the .codedeployvars file
    - tar -xzf release.tar.gz ./.codedeployvars && mv .codedeployvars .codedeployvars.template
    - envsubst < .codedeployvars.template > .codedeployvars
    # Update appspec with environment variables
    - tar -xzf release.tar.gz ./appspec.yml && mv appspec.yml appspec.yml.template
    - envsubst < appspec.yml.template > appspec.yml
    # Pack the files back into the tar
    - gunzip release.tar.gz
    - tar -rf release.tar ./.codedeployvars
    - tar -rf release.tar appspec.yml
    - gzip release.tar
  script:
    - deploy release.tar.gz

deploy:stage:
  <<: *deploy
  environment:
    name: Stage deploy
  rules:
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_BRANCH == 'develop'

deploy:production:
  <<: *deploy
  environment:
    name: Production deploy
  when: manual
  rules:
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_BRANCH == 'master'

.job_template: &e2e
  stage: qa
  cache:
    paths:
      - vendor/
  artifacts:
    reports:
      junit: junit.xml
  before_script:
    - *ssh_key_setup
    - composer install --no-interaction --optimize-autoloader
  script:
    - composer test:e2e --log-junit=junit.xml

e2e:stage:
  <<: *e2e
  environment:
    name: Stage deploy
  rules:
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_BRANCH == 'develop'

e2e:production:
  <<: *e2e
  environment:
    name: Production deploy
  rules:
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_BRANCH == 'master'