# Ignore composer stuff
/vendor/
/public/packages/skyline_hub/vendor

# Ignore concrete5 stuff
/public/concrete
/public/application/files

# Ignore composer packages
/public/packages/concrete_cms_theme
/public/packages/community_badges
/public/packages/akismet
/public/packages/skyline_hub

# Ignore build files
/public/application/css/main.css
/public/application/js/hosting.js.LICENSE.txt
/coverage.cobertura.xml
/junit.xml

# Ignore developer stuff
/.idea
/node_modules
/.env
/phpunit.xml
/build
/.phpunit.*
.DS_Store

/public/packages/skyline_hub/build/node_modules
